openapi-generator-cli.jar
.idea/
secrets.sh
.onshape_client_config.yaml
openapi-generator

# For NPM
node_modules
.npmrc
**.env

**build/**
cli/cli.egg-info/dependency_links.txt
cli/cli.egg-info/entry_points.txt
cli/cli.egg-info/PKG-INFO
cli/cli.egg-info/requires.txt
cli/cli.egg-info/SOURCES.txt
cli/cli.egg-info/top_level.txt
